[submodule "pulumi"]
	path = thirdparty/pulumi
	url = https://github.com/pulumi/pulumi.git
[submodule "pulumi_examples"]
	path = thirdparty/pulumi_examples
	url = git@github.com:kingwill101/pulumi-examples.git
[submodule "thirdparty/pulumi-automation-api-examples"]
	path = thirdparty/pulumi-automation-api-examples
	url = git@github.com:kingwill101/pulumi-automation-api-examples.git
[submodule "thirdparty/pulumi-dotnet"]
	path = thirdparty/pulumi-dotnet
	url = https://github.com/pulumi/pulumi-dotnet.git
[submodule "thirdparty/pulumi-aws"]
	path = thirdparty/pulumi-aws
	url = https://github.com/pulumi/pulumi-aws.git
[submodule "thirdparty/pulumi-awsx"]
	path = thirdparty/pulumi-awsx
	url = https://github.com/pulumi/pulumi-awsx.git
[submodule "thirdparty/pulumi-command"]
	path = thirdparty/pulumi-command
	url = https://github.com/pulumi/pulumi-command.git
